#[link(name = "gmp",
       vers = "0.1",
       uuid = "a92b7244-82a4-4825-9951-1d475b1296f9",
       url = "https://github.com/thestinger/rust-gmp")];

#[comment = "gmp bindings"];
#[license = "MIT"];
#[crate_type = "lib"];
